body {
	background: #fff;
}
h1, h2, h3, h4, h5, h6 {
    color: #1a1a1a;
}
.top-header {
	background-color: #fff;
  background-image: url(../assets/image/wallpaper-bg-2.jpg);
  background-position: center center;
  background-repeat: repeat;
  background-size: 115px;
  padding: 33px 0;
  /*filter: grayscale(1);*/
}
.top-header::before {
}
.top-info h6 {
	color: #1A1A1A;
    font-weight: 600;
}
.top-info p {
	color: #1A1A1A;
}
.octf-main-header .octf-mainbar-row {
	min-height: 90px;
}
.octf-sidepanel {
	padding-left: 0;
}
.benefits-desc-1 h2, .icon-box.s-light h5 a {
	color: #1a1a1a;
}
.our-portfolio-1 {
    background-image: none;
    /*background-image: url(https://via.placeholder.com/1920x1415.png);*/
}
.progress-studio {
    background-image: url(https://via.placeholder.com/1920x505.png);
}
.cta-2 {
    background-image: url(../assets/image/cta-2-bg.jpg);
}
.cta-2 h2 {
	color: #ccc;
}
.cta-2 p {
	color: #ccc;
}
.main-color-stext {
	color: #555;
}
.testimonials-slide-2.owl-theme .owl-nav .owl-next, .testimonials-slide-2.owl-theme .owl-nav .owl-prev {
	background: #fff;
}
.mmenu-toggle button, .octf-cta-header .toggle_search i {
	color: #1e1e1e;
}
.side-nav .sidenav-col {
	z-index: 10;
}
.side-nav-social li a {
	background-color: #1A1A1A;
	color: #fff;
}
.side-nav-social li a:hover {
	opacity: 0.9;
}
.circle-progress .main-color-stext {
	color: #A3A3A3;
}
.benefit-side-desc {
	background-color: #F4F4F4;
}
.testi-heading-side {
	background-color: #fff;
}
.header-vertical .footer-bottom {
	background-color: #F5F5F5;
	border-top-color: #1A1A1A33;
}
.header-vertical .site-footer {
	background-color: #F5F5F5;
	color: #1A1A1A;
}
.widget-footer h6 {
	color: inherit;
}
.footer-side-nav p, .footer-bottom li a {
	color: #555555;
}
.footer-bottom li a:hover {
	color: #000;
}
@media only screen and (min-width: 1025px){
	.site-header-vertical {
    background-image: url(https://via.placeholder.com/340x905.png);
	} 
	.vertical-main-navigation ul>li>a {
		color: #1A1A1A;
	}
}

.portfolio-detail .gallery-post .item-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  height: 750px;
}
@media only screen and (max-width: 767px){
  .portfolio-detail .gallery-post .item-image {
    height: 275px;
  }
}
.pheader-portfolio-detail {
  background-position: center;
  /*filter: grayscale(100%);
  -webkit-filter: grayscale(100%);*/
}
.pheader-portfolio-detail .header-background {
  background-color: #000;
  opacity: .5;
}
.pheader-portfolio-detail .header-background h1 {
  opacity: 1;
}
