    <footer id="site-footer" class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-4 mb-xl-0">
                    <div class="widget-footer">

                        <img class="footer-logo" src="assets/image/logo-white-on-footer.png" alt="">
                        <!--
                        <div class="footer-social list-social">
                            <ul>
                                <li><a href="http://facebook.com" target="_self"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="http://twitter.com" target="_self"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="http://linkedin.com" target="_self"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="http://instagram" target="_self"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        -->
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-4 mb-xl-0">
                    <div class="widget-footer">
                        <h6>Get In Touch</h6>
                        <ul class="footer-list">
                            <li class="footer-list-item">
                                <span class="list-item-icon"><i class="ot-flaticon-place"></i></span>
                                <span class="list-item-text">Cincinnati, Ohio, USA</span>
                            </li>
                            <li class="footer-list-item">
                                <span class="list-item-icon"><i class="ot-flaticon-mail"></i></span>
                                <span class="list-item-text"><a href="/book-appointment" data-lta-event="footer-discovery">Book a Free Discovery Call</a></span>
                            </li>
                            <li class="footer-list-item">
                                <span class="list-item-icon"><i class="ot-flaticon-mail"></i></span>
                                <span class="list-item-text"><a href="mailto:hello@rachelmathai.com" data-lta-event="footer-email">hello@rachelmathai.com</a></span>
                            </li>
                            <li class="footer-list-item">
                                <span class="list-item-icon"><i class="ot-flaticon-phone-call"></i></span>
                                <span class="list-item-text"><a href="tel:+5133242089" data-lta-event="footer-telephone">513 324 2089</a></span>
                            </li>
                            <li class="footer-list-item">
                                <span class="list-item-icon"><i class="fab fa-instagram"></i></span>
                                <span class="list-item-text"><a href="https://www.instagram.com/rachelmathai.id" data-lta-event="footer-instagram">@rachelmathai.id</a></span>
                            </li>
                            <li class="footer-list-item">
                                <span class="list-item-icon"><svg class="houzz" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#a3a3a3" d="M275.9 330.7H171.3V480H17V32h109.5v104.5l305.1 85.6V480H275.9z"/></svg></span>
                                <span class="list-item-text"><a href="https://houzz.com/pro/rachelmathai" data-lta-event="footer-houzz">RMID on Houzz</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-4 mb-md-0">
                    <div class="widget-footer widget-contact">
                        <h6>Featured Projects</h6>
                        <ul>
                            <li><a href="/portfolio/thornton" data-lta-event="footer-portfolio-thornton">Thornton</a></li>
                            <li><a href="/portfolio/jell-and-chill" data-lta-event="footer-portfolio-jellandchill">Jell &amp; Chill</a></li>
                            <li><a href="/portfolio/begen" data-lta-event="footer-portfolio-began">Begen</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- #site-footer -->
</div><!-- #page -->
<a id="back-to-top" href="#" class="show"><i class="ot-flaticon-left-arrow"></i></a>
        <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!--<script src="js/mousewheel.min.js"></script>-->
    <script src="js/lightgallery-all.min.js"></script>
    <!--<script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.isotope.min.js"></script>-->
    <!--<script src="js/owl.carousel.min.js"></script>-->
    <!--<script src="js/easypiechart.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>-->
    <script src="js/scripts.js?{{ site.time | date: '%Y%m%d' }}"></script>
    <!--<script src="js/royal_preloader.min.js"></script>-->
    <!-- REVOLUTION JS FILES -->

    <!--<script  src="plugins/revolution/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script  src="plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js"></script>-->

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->    
    <!--<script  src="plugins/revolution/revolution/js/extensions/revolution-plugin.js"></script>-->
    {% if site.url contains "rachelmathai.com" %}
      <script defer async data-host="rachelmathai.com" src="https://liteanalytics.com/lite.js" data-events="true"></script>
    {% endif %}

    <!-- REVOLUTION SLIDER SCRIPT FILES -->
    <!--<script  src="js/rev-script-2.js"></script>-->
    <!--<script>
        window.jQuery = window.$ = jQuery;  
        (function($) { "use strict";
            //Preloader
            Royal_Preloader.config({
                mode           :   'progress',
                background     :   '#1a1a1a',
            });
        })(jQuery);
    </script>  -->
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        document.documentElement.classList.add('loaded');
        const contactForm = document.querySelector('form#contact-form');
        if(contactForm) {
          const tsFld = contactForm.querySelector('input[name=timestamp]');
          tsFld.value = ''+Date.now();
          contactForm.addEventListener('submit', (e) => {
              const emailFld = contactForm.querySelector('input[name=email]');
              const senderFld = contactForm.querySelector('input[name=sender]');
              let maxChars = tsFld.value.charAt(tsFld.value.length-1);
              if(maxChars > emailFld.value.length - 1) {
                maxChars = emailFld.value.length - 1;
              }
              senderFld.value = emailFld.value.charAt(maxChars)
          });
        }
      });
    </script>
</body>
</html>

