<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="Interior Designer, Interior Decorator, Cincinnati, Wyoming, Madeira, Mariemont, Hyde Park, Oakley, 3D Rendering, Accessory Dwelling Units (ADUs), Art Selection, Attic Conversion, Basement Design, Bathroom Design, Bedroom Design, Closet Design, Color Consulting, Custom Fireplace Mantels, Design Consultation, Dining Room Design, Downsizing, Entry Design, Floor Plans, Furniture Selection, Guesthouse Design & Construction, Home Office Design & Construction, Home Staging, Interior Design, Kids Bedroom Design, Kitchen Design, Lighting Design, Living Room Design, Mudroom Design, Nursery Design, Playroom Design, Space Planning, Sunroom Design & Construction, Universal Design, Architectural Design, Architectural Drawings, Basement Remodeling, Bathroom Remodeling, Building Design, Custom Drapery, Custom Upholstery, Home Additions, Home Extensions, Home Remodeling, Kitchen Remodeling, Pool House Design & Construction">
    <meta name="description" content="I hold a deep belief in the transformative power of home. The role of an interior designer is to craft an environment that not only pleases the eye but also nurtures a sense of well-being and contentment in those who dwell within it." />
    {% if page.og_image %}
      <meta property="og:image" content="{{ page.og_image }}" />
    {% else %}
      <meta property="og:image" content="assets/image/logo-white-on-green.png" />
    {% endif %}

    {% if page.title %}
      <meta property="og:title" content="{{ page.title }} - Rachel Mathai Interior Design" />
      <title>{{ page.title }} - Rachel Mathai Interior Design</title>
    {% else %}
      <meta property="og:title" content="Rachel Mathai Interior Design" />
      <title>Rachel Mathai Interior Design - Cincinnati, Wyoming, Madeira, Mariemont, Hyde Park, Oakley</title>
    {% endif %}
    
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/image/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/image/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/image/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/image/favicon/site.webmanifest">
    <link rel="shortcut icon" href="/assets/image/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/image/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/lightgallery.css" />
    <link rel="stylesheet" href="css/woocommerce.css" />
    <link rel="stylesheet" href="css/royal-preload.css" />

    <link rel="stylesheet" href="style.css?{{ site.time | date: '%Y%m%d' }}" />
    <link rel="stylesheet" href="css/light.css?{{ site.time | date: '%Y%m%d' }}" />
    <!-- REVOLUTION SLIDER CSS -->
    <link rel="stylesheet" type="text/css" href="plugins/revolution/revolution/css/settings.css">   
    <!-- REVOLUTION NAVIGATION STYLE -->
    <link rel="stylesheet" type="text/css" href="plugins/revolution/revolution/css/navigation.css">
</head>

<body>
    <!--<div id="royal_preloader"></div>-->
    <div id="page" class="site">
        <header id="site-header" class="site-header header-static">
            <!-- Main Header start -->
            <div class="header-desktop">
                <div class="top-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="top-info">
                                    <!--<h6>Visit Us Daily:</h6>
                                    <p>411 University St, Seattle, USA</p>-->
                                </div>
                            </div>
                            <div class="col-lg-4 text-center">
                                <div class="top-logo">
                                    <a href="/" data-lta-event="nav-logo">
                                      <img src="assets/image/logo-green-on-white-black-letters-horizontal.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <!--<div class="col-lg-4">
                                <div class="top-info text-right">
                                    <h6>Email Me:</h6>
                                    <p><a href="mailto:hello@rachelmathai.com" data-lta-event="nav-email">hello@rachelmathai.com</a></p>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="octf-main-header main-header-slight is-fixed">
                    <div class="container">
                        <div class="octf-main-header">
                            <div class="octf-area-wrap">
                                <div class="container-fluid octf-mainbar-container">
                                    <div class="octf-mainbar">
                                        <div class="octf-mainbar-row octf-row">
                                            <div class="octf-col logo-col no-padding">
                                                <div class="octf-sidepanel octf-cta-header">
                                                    <div class="site-overlay panel-overlay"></div>
                                                    <!--<div id="panel-btn" class="panel-btn octf-cta-icons">
                                                        <i class="ot-flaticon-menu"></i>
                                                    </div>-->
                                                </div>
                                            </div>
                                            <div class="octf-col menu-col no-padding">
                                                <nav id="site-navigation" class="main-navigation">
                                                    <ul class="menu">
                                                      <li class="">
                                                            <a href="/" data-lta-event="nav-home">Home</a></li>
                                                      <li class="menu-item-has-children ">
                                                          <a href="/portfolio/thornton" data-lta-event="nav-portfolio">Portfolio</a>
                                                            <ul class="sub-menu">
                                                                <li class="{% if page.url == '/portfolio/thornton' %} current-menu-item {% endif %}"><a href="/portfolio/thornton" data-lta-event="nav-portfolio-thornton">Thornton</a></li>
                                                                <li class="{% if page.url == '/portfolio/jell-and-chill' %} current-menu-item {% endif %}"><a href="/portfolio/jell-and-chill" data-lta-event="nav-portfolio-jellandchill">Jell &amp; Chill</a></li>
                                                                <li class="{% if page.url == '/portfolio/begen' %} current-menu-item {% endif %}"><a href="/portfolio/begen" data-lta-event="nav-portfolio-began">Begen</a></li>
                                                            </ul>
                                                      </li>
                                                      <li class="">
                                                            <a href="/house-proud/wyoming" data-lta-event="nav-houseproud">House Proud</a></li>
                                                      <li class="menu-item-has-children ">
                                                            <a href="/services" data-lta-event="nav-services">Services</a>
                                                            <ul class="sub-menu">
                                                                <li class="{% if page.url == '/services/design-coaching' %} current-menu-item {% endif %}"><a href="/services/design-coaching" data-lta-event="nav-services-designcoaching">Design Coaching</a></li>
                                                                <li class="{% if page.url == '/services/space-planning-and-design' %} current-menu-item {% endif %}"><a href="/services/space-planning-and-design" data-lta-event="nav-services-spaceplanninganddesign">Space Planning &amp; Design</a></li>
                                                                <li class="{% if page.url == '/services/remodeling-and-new-construction' %} current-menu-item {% endif %}"><a href="/services/remodeling-and-new-construction" data-lta-event="nav-services-remodelingandnewconstruction">Remodeling &amp; New Construction</a></li>
                                                            </ul>
                                                      </li>
                                                      <li class="">
                                                            <a href="/about" data-lta-event="nav-about">About</a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header_mobile">
                <div class="container-fluid">
                    <div class="octf-mainbar-row octf-row">
                        <div class="octf-col">
                            <div class="mlogo_wrapper clearfix">
                                <div class="mobile_logo">
                                    <a href="/" data-lta-event="nav-mobile-logo">
                                      <img src="assets/image/logo-white-on-green-horizontal.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="octf-col justify-content-end">
                            <div class="octf-menu-mobile octf-cta-header">
                                <div id="mmenu-toggle" class="mmenu-toggle">
                                    <button><i class="ot-flaticon-menu"></i></button>
                                </div>
                                <div class="site-overlay mmenu-overlay"></div>
                                <div id="mmenu-wrapper" class="mmenu-wrapper on-right">
                                    <div class="mmenu-inner">
                                      <a class="mmenu-close" href="#" data-lta-event="nav-mobile-close"><i class="ot-flaticon-right-arrow"></i></a>
                                        <div class="mobile-nav">
                                            <ul id="menu-main-menu" class="mobile_mainmenu none-style">
                                                <li class="{% if page.url == '/' %} current-menu-item current-menu-ancestor {% endif %}">
                                                    <a href="/" data-lta-event="nav-mobile-home">Home</a></li>
                                                <li class="menu-item-has-children current-menu-item current-menu-ancestor">
                                                  <a href="/portfolio/thornton" data-lta-event="nav-mobile-portfolio">Portfolio</a>
                                                  <ul class="sub-menu d-block">
                                                      <li class="{% if page.url == '/portfolio/thornton' %} current-menu-item {% endif %}"><a href="/portfolio/thornton" data-lta-event="nav-mobile-thornton">Thornton</a></li>
                                                      <li class="{% if page.url == '/portfolio/jell-and-chill' %} current-menu-item {% endif %}"><a href="/portfolio/jell-and-chill" data-lta-event="nav-mobile-jellandchill">Jell &amp; Chill</a></li>
                                                      <li class="{% if page.url == '/portfolio/begen' %} current-menu-item {% endif %}"><a href="/portfolio/begen" data-lta-event="nav-mobile-began">Begen</a></li>
                                                  </ul>
                                                </li>
                                                <li class="">
                                                      <a href="/house-proud/wyoming" data-lta-event="nav-mobile-houseproud">House Proud</a></li>
                                                <li class="menu-item-has-children current-menu-item current-menu-ancestor">
                                                      <a href="/services" data-lta-event="nav-mobile-services">Services</a></li>
                                                            <ul class="sub-menu d-block">
                                                                <li class="{% if page.url == '/services/design-coaching' %} current-menu-item {% endif %}"><a href="/services/design-coaching" data-lta-event="nav-mobile-services-designcoaching">Design Coaching</a></li>
                                                                <li class="{% if page.url == '/services/space-planning-and-design' %} current-menu-item {% endif %}"><a href="/services/space-planning-and-design" data-lta-event="nav-mobile-services-spaceplanninganddesign">Space Planning &amp; Design</a></li>
                                                                <li class="{% if page.url == '/services/remodeling-and-new-construction' %} current-menu-item {% endif %}"><a href="/services/remodeling-and-new-construction" data-lta-event="nav-mobile-services-remodelingandnewconstruction">Remodeling &amp; New Construction</a></li>
                                                            </ul>
                                                <li class="">
                                                      <a href="/about" data-lta-event="nav-mobile-about">About</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

