
                      <ol>
                        <li>Look for stamped lumber on exposed beams, joists and rafters in the basement, crawlspace or attic and check the back of millwork for shipping labels. The lumber was marked on the tall side, 2-10 inches from the end. On shipping labels, lood for the Sears and Roebuck address in Chicago, IL. </li>
                        <li>Check the homes blueprint or layout in an accredited field guide, comparing the house to photos and floor plans shown. Pay special attention to the placement of windows and doors, chimneys, bathroom and kitchen vents, and other elements that are not likely to have moved much. Look for these things to match perfectly. If not, you might not have a Sears kit home. </li>
                        <li>Evaluate building materials. Sears pedestal sinks were marked “R” and “SR” was marked on kitchen sinks. Look on the underside, near the front. On bathtubs, look in the lower corner, on the side furthest from the tub spout. Another clue is in the sheetrock. If it says “goodwall” on the backside, it’s likely a Sears home.  </li>
                        <li>Look for simplified joinery. Sears kits often had plinth blocks where complex joints meet, making it easier for a novice to build. Similarly, Sears used a unique 5 pc eave bracket on the front porch. </li>
                        <li>If your home was not built between 1908-1940 it is not a Sears home as they were only sold during these years. </li>
                      </ol>

                      <p class="ml-5">
                        <em>"The Cincinnati area has the most Sears homes located to date of anywhere in the United States." -- Cindy Cantnzaro of <a href="https://searshousesinohio.wordpress.com/2021/12/07/why-are-there-so-many-sears-houses-in-cincinnati/" target="_blank">Sears Homes in Ohio</a></em>
                      </p>
