---
layout: default
---
        <div id="content" class="site-content house-proud">
            <section class="portfolio-detail p-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>{{page.title}}</h1>
                            <p>What is this project about? <em>Jump straight to <a href="/house-proud/wyoming-ohio#featured-homes">featured homes</a>.</em></p>
                            <p>
Wyoming Ohio has a good reputation for a few reasons. First of course is the consistently well rated local schools offering residents a great public education option. Second, might be the prime location having easy access to downtown Cincinnati as well as surrounding suburbs. It could also be the beautiful homes that fill Wyoming’s lots. Lower commute time is great but for me, a proud homebody, it’s definitely Wyoming’s beautiful homes. 
                            </p>

                            <div class="space-20"></div>
                            <div class="image-gallery">
                                <div id="gallery-2" class="gallery gallery-columns-3 s2">
                                    <figure class="gallery-item">
                                        <div class="gallery-icon portrait">
                                            <img src="/assets/image/custom/hp-wyoming-welcome-sign-large.jpg" alt="">
                                        </div>
                                    </figure>
                                    <figure class="gallery-item">
                                        <div class="gallery-icon portrait">
                                            <img src="/assets/image/custom/-hp-wyoming-ave-dt-large.jpg" alt="">
                                        </div>
                                    </figure>
                                    <figure class="gallery-item">
                                        <div class="gallery-icon portrait">
                                            <img src="/assets/image/custom/hp-wyoming-ave-sign-large.jpg" alt="">
                                        </div>
                                    </figure>
                                </div>
                            </div>

                            <p>
Have you ever driven down or walked through a beautiful street in Wyoming full of charming houses and wondered if there is a story behind the charm? In Wyoming, there is inspiration on nearly every corner. Maybe you own a home in need of renovations and would love to see how a neighbor solved a particular design dilemma. Maybe you’ve already painstakingly renovated your Wyoming home and would love to show it off. 
                            </p>

                            <div class="space-20"></div>
                            <div class="image-gallery">
                                <div id="gallery-2" class="gallery gallery-columns-3 s2">
                                    <figure class="gallery-item">
                                        <div class="gallery-icon portrait">
                                            <img src="/assets/image/custom/-hp-wyoming-ave-dt-st-large.jpg" alt="">
                                        </div>
                                    </figure>
                                    <figure class="gallery-item">
                                        <div class="gallery-icon portrait">
                                            <img src="/assets/image/custom/hp-wyoming-elm-st-large.jpg" alt="">
                                        </div>
                                    </figure>
                                    <figure class="gallery-item">
                                        <div class="gallery-icon portrait">
                                            <img src="/assets/image/custom/hp-wyoming-mills-st-large.jpg" alt="">
                                        </div>
                                    </figure>
                                </div>
                            </div>

                            <p>
                            House Proud, Wyoming is the blog for you! Born out of appreciation for the wonderful and diverse architecture of Wyoming Ohio and the beautifully manicured landscapes. It is a place to inspire and to be inspired. Come along with me as I share up close and personal details of the wonderful Wyoming homes we’re all dying to see more of. 
                            </p>
                            
                            <a name="featured-homes"></a>
                            <h2>Featured Homes</h2>
                            <h3>Colonial Revival on Congress Run</h3>
                            <p>
                            Homeowners Jaisen and Rachel are Cincinnati natives who moved to California shortly after getting married and lived there for nearly 20 years before moving back to Cincinnati. The pandemic and a surprise addition of twins helped put into perspective the many benefits of living close to family. When looking for a Cincy home they chose Wyoming because of the central location, great schools and beautiful homes. <a href="/house-proud/wyoming/colonial-revival">Take a tour of this home.</a>
                            </p>

                            <div class="image-gallery omit-lightgallery">
                                <div id="gallery-2" class="gallery gallery-columns-1 s2">
                                    <figure class="gallery-item">
                                        <div class="gallery-icon portrait">
                                          <a href="/house-proud/wyoming/colonial-revival"><img src="/assets/image/custom/hp-congress-run-8551-large.jpg" alt=""></a>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="space-20"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
