---
layout: default
photos: []
---
{% case page.name == 'thornton.md' %}
  {% when 'thornton.md' %}

    {% assign header_photo = 'thornton-diningroom-1-extralarge.jpg' %}
    {% assign photos = '' | split: '' %}
    {% assign photos1 = 'thornton-livingroom-3-extralarge.jpg,thornton-livingroom-4-extralarge.jpg' | split: ',' %}
    {% assign photos2 = 'thornton-diningroom-1-extralarge.jpg' | split: ',' %}
    {% assign photos3 = 'thornton-diningroom-2-extralarge.jpg,thornton-kitchen-1-extralarge.jpg,thornton-kitchen-3-extralarge.jpg' | split: ',' %}
    {% assign photos4 = 'thornton-kitchen-4-extralarge.jpg' | split: ',' %}
    {% assign photos5 = 'thornton-hallway-1-extralarge.jpg' | split: ',' %}
    {% assign photos6 = 'thornton-bedroom-1-extralarge.jpg,thornton-bedroom-2-extralarge.jpg' | split: ',' %}
    {% assign photos7 = 'thornton-primary-bathroom-1-extralarge.jpg' | split: ',' %}
    {% assign photos8 = 'thornton-primary-bathroom-3-extralarge.jpg' | split: ',' %}
    {% assign photos9 = 'thornton-primary-bathroom-4-extralarge.jpg,thornton-primary-bathroom-8-extralarge.jpg,thornton-primary-bathroom-7-extralarge.jpg' | split: ',' %}
    {% assign photos10 = 'thornton-hallway-2-extralarge.jpg' | split: ',' %}
    {% assign photos11 = 'thornton-livingroom-1-extralarge.jpg' | split: ',' %}
    {% assign photos = photos | push: photos1 | push: photos2 | push: photos3 | push: photos4 | push: photos6 | push: photos7 | push: photos8 | push: photos9 | push: photos10 | push: photos11 %}
    {% assign project_designer = 'Rachel Mathai' %}
    {% assign project_type = 'Home Addition + Interior Remodel' %}
    {% assign project_date = 'May 2022' %}
    {% assign project_scope = 'Space planning and design of 900 sf home addition which included a relocated kitchen, great room, primary bedroom and bathroom with walk in closet. Remodeled existing laundry room to create a functional mudroom with secondary side entrance to house. Replaced all interior doors and hardware as well as casing and trim. Interior and exterior paint selections.' %}
  {% when 'jell-and-chill.md' %}

    {% assign header_photo = 'jell-and-chill-2-extralarge.jpg' %}
    {% assign photos = '' | split: '' %}
    {% assign photos1 = 'jell-and-chill-1-extralarge.jpg,jell-and-chill-2-extralarge.jpg' | split: ',' %}
    {% assign photos2 = 'jell-and-chill-6-extralarge.jpg' | split: ',' %}
    {% assign photos3 = 'jell-and-chill-3-extralarge.jpg,jell-and-chill-5-extralarge.jpg' | split: ',' %}
    {% assign photos = photos | push: photos1 | push: photos2 | push: photos3 %}
    {% assign project_designer = 'Rachel Mathai + LeLe Yu' %}
    {% assign project_type = 'Commercial Design of Mall Kiosk' %}
    {% assign project_date = 'May 2023' %}
    {% assign project_scope = 'Designed mall kiosk for growing smoothie shop. Created construction documents and renderings for mall approval. Worked with mall designers for approval of all selected finish materials. Procured signage, display screens and point of sale devices.' %}
  {% when 'begen.md' %}

    {% assign header_photo = 'began-kitchen-3-extralarge.jpg' %}
    {% assign photos = '' | split: '' %}
    {% assign photos1 = 'began-kitchen-1-extralarge.jpg,began-kitchen-2-extralarge.jpg,began-kitchen-3-extralarge.jpg' | split: ',' %}
    {% assign photos2 = 'began-kitchen-4-extralarge.jpg' | split: ',' %}
    {% assign photos3 = 'began-primary-bathroom-1-extralarge.jpg,began-primary-bathroom-2-extralarge.jpg' | split: ',' %}
    {% assign photos4 = 'began-primary-bathroom-3-extralarge.jpg,began-primary-bathroom-4-extralarge.jpg' | split: ',' %}
    {% assign photos5 = 'began-guest-bathroom-3-extralarge.jpg' | split: ',' %}
    {% assign photos6 = 'began-guest-bathroom-2-extralarge.jpg' | split: ',' %}
    {% assign photos = photos | push: photos1 | push: photos2 | push: photos3 | push: photos4 | push: photos5 | push: photos6 %}
    {% assign project_designer = 'Rachel Mathai' %}
    {% assign project_type = 'Interior Remodel + Permitting' %}
    {% assign project_date = 'May 2023' %}
    {% assign project_scope = 'Full kitchen remodel, kids bath remodel, expansion and remodel of primary bath, interior and exterior paint selection, replaced nailed down hardwood flooring with European engineered hardwood flooring, replaced all window coverings, light fixtures and switches as well as interior and exterior door hardware. 
Submitted necessary documents for permitting including all construction documents. ' %}
{% endcase %}

        <div id="content" class="site-content">
          <div class="page-header dtable text-center header-transparent pheader-portfolio-detail" style="background-image: url(/assets/image/custom/{{ header_photo }});">
                <div class="dcell">
                    <div class="container">
                      <div class="header-background"><h1 class="page-title">{{ page.title }}</h1></div>
                    </div>
                </div>
            </div>
            <section class="portfolio-detail p-0">
                <div class="container">
                    <div class="row text-center">
                        <div class="space-40"></div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-6 d-none d-lg-block"></div>
                        <div class="col-lg-2 col-md-4 col-sm-12 col-4">
                            <div class="p-detail-info">
                                <h6>Designer:</h6>
                                <p>{{ project_designer }}</p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-12 col-4">
                            <div class="p-detail-info">
                                <h6>Project Type:</h6>
                                <p>{{ project_type }}</p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-12 col-4">
                            <div class="p-detail-info">
                                <h6>Completed:</h6>
                                <p>{{ project_date }}</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-6 d-none d-lg-block"></div>
                        <div class="space-30"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Project Scope</h4>
                            <p>{{ project_scope }}.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 image-gallery">
                            <div class="space-10"></div>
                            <!--{{ photos | jsonify }}-->
                            {% for row in photos %}
                              <div class="">
                                <div class="gallery gallery-columns-{{ row | size }} gallery-size-thumbnail">
                                    {% for photo in row %}
                                      <figure class="gallery-item">
                                          <div class="gallery-icon landscape">
                                              <a href="/assets/image/custom/{{ photo }}">
                                                  <img src="/assets/image/custom/{{ photo }}" class="" alt="">
                                              </a>
                                          </div>
                                      </figure>
                                      {% endfor %}
                                  </div>
                              </div>
                            {% endfor %}
                        </div>
                        <div class="space-60"></div>
                    </div>
                </div>
            </section>
        </div>
