---
layout: default
---

      <div class="container">
          <div class="row">
              <div class="widget-area col-lg-3 col-md-12">
                  <div class="widget widget_nav_menu">
                      <ul class="services-menu">
                          <li class="{% if page.url == '/services/design-coaching' %} current-menu-item {% endif %}">
                            <a href="/services/design-coaching">Design Coaching</a>
                          </li>
                          <li class="{% if page.url == '/services/space-planning-and-design' %} current-menu-item {% endif %}">
                            <a href="/services/space-planning-and-design">Space Planning &amp; Design</a>
                          </li>
                          <li class="{% if page.url == '/services/remodeling-and-new-construction' %} current-menu-item {% endif %}">
                            <a href="/services/remodeling-and-new-construction">Remodeling and New Construction</a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-6 col-md-12">
                {% case page.url %}
                  {% when '/services/design-coaching' %}
                    <h4>Design Coaching</h4>
                    <em>Cost: $150 for a 2 hour session</em>
                    <p>If you’ve ever wanted professional insights on your design challenges, consider a coaching appointment. We can meet virtually or in person (if you’re local) to discuss your design issues, brainstorm ideas, and get feedback. The 2 hour coaching session is priced at $75/hr. Additional coaching can be purchased as needed.</p>
                    <p><a href="/contact"  data-lta-event="services-request-coaching">Request design coaching</a></p>
                  {% when '/services/space-planning-and-design' %}
                    <h4>Space Planning &amp; Design</h4>
                    <em>Cost: Starting at $1,500</em>
                    <p>Transform your space with our comprehensive design service, with packages starting at $1,500. Fee proposal provided after initial consultation. Here’s what’s included:</p>
                    <ul>
                      <li>Two design options to choose from with floor plans and 3D renderings for visualization.</li>
                      <li>Furniture, paint and material selections.</li>
                      <li>Convenient, clickable shopping list for DIY purchases.</li>
                      <li>Enhance your space planning and design experience by adding ordering services for a complete, full-service experience. You will benefit from any available trade discounts, typically 20-30% off retail. We will handle all aspects of the ordering process and manage installation, relieving you of additional stress.</li>
                    </ul>
                    <p><a href="/contact"  data-lta-event="services-request-planning">Inquire about space planning &amp; design</a></p>
                  {% when '/services/remodeling-and-new-construction' %}
                    <h4>Remodeling and New Construction Design</h4>
                    <em>Cost: Provided after initial consultation</em>
                    <p>This service offers comprehensive design support for projects that modify your home's layout, whether through remodeling existing spaces or adding new rooms. Pricing is determined by square footage and project complexity. Following an initial consultation, you'll receive a detailed scope of work and a fee proposal. The service includes:</p>
                    <ul>
                      <li>Two design options to choose from with floor plans and 3D renderings.</li>
                      <li>Furniture, paint and material selections.</li>
                      <li>Ordering services with trade discount, usually 20-30% off retail.</li>
                      <li>Collaboration with contractor and trades.</li>
                      <li>Professional installation with designer styling.</li>
                    </ul>
                    <p><a href="/contact"  data-lta-event="services-request-remodeling">Inquire about remodeling &amp; new construction design</a></p>
                {% endcase %}
              </div>
          </div>
      </div>
